* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  background-color: #111;
}
/* #root {
  max-width: 860px;
  padding: 20px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */
.parent {
  background-color: #fff;
  padding: 20px;
  /* border-radius: 10px; */
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
.card {
  width: 250px;
  background-color: #222;
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card h2 {
  margin-top: 10px;
}
.card img {
  margin: 16px;
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.card p {
  margin: 10px 0px;
}
.card button {
  cursor: pointer;
  color: black;
  font-weight: 700;
  background-color: #fff;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
}