* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  color: #fff;
  background-color: #282c34;
}

.card {
  background-color: pink;
  color: #333;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-right {
  width: 65%;
  display: flex;
  gap: 10px;
  background-color: red;
}
.nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
ul li {
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
}
ul li a {
  color: #fff;
  text-decoration: none;
}

.right nav-menu, .left nav-menu {
  display: flex;
  align-items: center;
}
